<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>mbt-simulator-search</Title>
      <Author>
      </Author>
      <Description>
      </Description>
      <HelpUrl>
      </HelpUrl>
      <Shortcut>
      </Shortcut>
    </Header>
    <Snippet>
      <Code Language="csharp" Delimiter="$"><![CDATA[                                        IEnumerable<PersonEntity> query = _persons.Values;

            if (!string.IsNullOrWhiteSpace(nationalId))
                query = query.Where(x => x.RowKey == nationalId);

            if (!string.IsNullOrWhiteSpace(country))
                query = query.Where(x => x.PartitionKey == country);

            if (!string.IsNullOrWhiteSpace(eyeColor))
                query = query.Where(x => x.EyeColor == eyeColor);

            return Task.FromResult(query);
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>